In [57]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import time, datetime
%matplotlib inline

In [22]:
path = "./dataset/fcc-forum-pageviews.csv"
df = pd.read_csv(path)

df.head()

         date  value
0  2016-05-09   1201
1  2016-05-10   2329
2  2016-05-11   1716
3  2016-05-12  10539
4  2016-05-13   6933

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1304 entries, 0 to 1303
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1304 non-null   object
 1   value   1304 non-null   int64
dtypes: int64(1), object(1)
memory usage: 20.5+ KB

In [25]:
df.describe()

              value
count  1.304000e+03
mean   6.722068e+04
std    5.933964e+04
min    1.201000e+03
25%    3.575775e+04
50%    5.719750e+04
75%    8.388300e+04
max    1.173655e+06

In [26]:
#  filtering out days when the page views were in the top 2.5% of the dataset 
# or bottom 2.5% of the dataset.

above_threshold = np.percentile(df.value, 100-2.5) 
below_threshold = np.percentile(df.value, 2.5)
df = df[ (df.value < above_threshold) & (df.value > below_threshold) ]
df.describe()

               value
count    1238.000000
mean    63060.147819
std     31674.626598
min     18060.000000
25%     37244.250000
50%     57197.500000
75%     81646.500000
max    177588.000000

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1238 entries, 10 to 1303
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1238 non-null   object
 1   value   1238 non-null   int64
dtypes: int64(1), object(1)
memory usage: 29.0+ KB